.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calsi{
    margin: 10px;
    padding: 5px;
}
.Operator{
    width: 81px;
    height: 70px;
    border: none;
    border-radius: 10px;
    margin: 2px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
input{
    width: 350px;
    height: 70px;
    border: none;
    border-radius: 10px;
    color: black;
    font-size: 35px;
    padding: 10px;
    text-align: right;
    
}

#test{
    background-color: rgb(157, 149, 231);
}
#test:hover{
    background-color: rgb(84, 77, 143);
}
#test:active{
    background-color: black;
}
body{
    margin: 20px;
    padding: 20px;
    background-color: black;
}
button:hover{
    background-color: rgb(185, 207, 226);
}
button:active{
    background-color: rgb(0, 0, 0);
}


